@model List<ClienteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Listar Datos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead> 
        <tr>
            <th> Id: </th>
            <th> Nombre: </th>
            <th> Apellido: </th>
            <th> DNI: </th>
            <th> Dirección: </th>
            <th> Acciones: </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Apellido</td>
                    <td>@item.DNI</td>
                    <td>@item.Direccion</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
